@import "../../lib.css";


.wm-img {
    width: 100%;
    margin: auto;
    display: block;
}

.wm-card-full {
    max-width: 100%;
    display: block;
    width: 100%;
    clear: both;
    padding: 30px;
    box-sizing: border-box;
}

.wmfullLoading {
    width: 100%;
    display: block;
    background: white;
    padding: 3% 10%;
}

.wm-bg-1 {
    background-image: url("../img/bg1.png");
    background-position: center center;
    background-size: cover;
    background-color: transparent;
}

.wmAdminWrap {
    font-size: 14px;
}

.makeMagicContactForm {
    background-image: url("../img/bg1.png");
    background-position: center center;
    background-size: cover;
    background-color: transparent;
    margin-bottom: 20px;
}

.frmb .stage-wrap > li.form-field {
    border: 1px solid #001850;
}

.form-wrap.form-builder .cb-wrap .form-actions.btn-group {
    /*display: none;*/
}

.form-action-group {
    display: inline-block;
}

div.dataTables_wrapper div.dataTables_filter {
    display: inline-block;
    float: right;
}

table.dataTable tbody tr.selected {
    background-color: #1990f65c;
}

table.dataTable tbody tr.selected a {
    color: #132469;
}

table.dataTable thead th.manage-column {
    vertical-align: middle;
    padding: 1%;
}

table.dataTable thead th.check-column input,
table.dataTable tbody td.check-column input {
    margin: 0;
}

div.dataTables_wrapper div.dataTables_length select {
    width: 60px;
}

/** Css detail ticket popup template ***/
.wmTicketDetailPopup .list-group-item {
    line-height: 20px;
}